* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #065d8d;
    padding: 0;
    margin: 0;
    height: 100vh;
    color: #fff;
    max-height: 666px;
}

header {
    padding: 10px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: #2baae2 solid 2px;
}

.logo {
    display: inline-block;
    padding-left: 30px;
}

.logo img {
    height: 50px;
    background-color: #065d8d;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

h1 {
    padding: 0 0 50px 30px;
    font-size: 53px;
}

.left,
.right {
    flex: 1;
    padding: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 660px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    padding: 0 0 0 30px;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #2baae2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
}

button:hover {
    background-color: #45a049;
}

.right {
    position: relative;
    height: 0;
    overflow: hidden;
}

.right iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        border: #2baae2 solid 3px;
    }

    .left,
    .right {
        flex: 1;
        height: 660px;
    }
}